#hy{
    color: lightskyblue;
}
#hjo{
    color: lightgoldenrodyellow;

}
#next{
    color: lightsalmon;
    background-color: lightslategray;
    border-radius: 5px;
    margin-top: 50px;
}
#pp{
    
        position: fixed;
        color: black;
        bottom: 0;
        width: 100%;
        background-color: #f5f5f5;
        line-height: 3;
        text-align: center;
    }

body{
    font-weight: bold;
}